@{
    ViewData["Title"] = "Contacto";
}

<h1>Formulario de contacto</h1>
<form asp-controller="Home" asp-action="Contacto">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre: </label>
        <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="Escribe tu e-mail" />
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mesaje: </label>
        <textarea name="mensaje" id="mensaje" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        Enviar
    </button>

</form>