@{
    ViewData["Title"] = "Proyectos";
}
@model IEnumerable<ProyectoDTO>;
<div class="container">
    <h1>Mis proyectos</h1>
    <p>Aqui encontraras todos los proyectos en que he trabajado</p>

</div>
<partial name="_Listadoproyectos" model="Model" />


